@font-face {
  font-family: "Vida 31 Pro";
  src: url("../fonts/vida31pro.otf") format("opentype");
}

@font-face {
  font-family: "Vida 33 Pro";
  src: url("../fonts/vida33pro.otf") format("opentype");
}