.footer {
  padding: 40px 0 47px;
  &__wrap {
    padding: 0;
    justify-content: space-between;
    @media (min-width: 1280px) {
      padding: 0 113px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  &__info-contacts {
    margin-top: 43px;
    min-width: 204px;
    @media (min-width: 1280px) {

    }
  }

  &__info-phone {
    font-family: "Vida 33 Pro", Arial, sans-serif;
    font-size: 24px;
    color: #424242;
  }

  &__info-address {
    margin: 18px 0 10px;

  }

  &__info-email {
    color: $accent-color;
  }

  &__section {
    margin-right: 79px;
    h3 {
      margin-top: 0;
      margin-bottom: 22px;
    }
    a {
      line-height: 24px;
      color: $accent-color;
    }
    @media (min-width: 1280px) {
      margin-right: 94px;
    }
  }

  &__section:nth-child(1) {
    margin-bottom: 54px;
  }

  &__section:last-child {
    @media (min-width: 1280px) {
      margin-right: 0;
    }
  }

  &__section-empty {
    margin-top: 38px;
  }

  &__section-wrap {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 135px;
    @media (min-width: 1280px) {
      margin-left: 0;
    }
  }
}