.social-link {
  justify-content: flex-start;
  @media (min-width:768px) {
    justify-content: center;
  }
  &__icon {
    font-size: 18px;
    margin-right: 23px;
    a {
      color: $accent-color;
    }
  }

  &__icon:last-child {
    margin-right: 0;
  }
}